*{
    margin-left: 10px;
    background-color: rgb(83, 25, 25);
    color: white;
}

.NameBar{
    display: flex;
    justify-content:space-between;
}

.NameBar > img{
    height: 62px;
    width: 60px;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
}


.Search_Area {
  display: flex;
  align-items: center;
}

.Search_Area input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.Search_Area button {
  background-color: #19c91f;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.hero-container {
    margin-bottom: 20px;
  }
  
  .course-cards-container {
    display: flex;
    justify-content: space-between; 
    flex-wrap: nowrap; 
  }
  
  .course-card {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 10px;
  }

  .course-card img{
    object-fit: contain;
    height: 100px;
  }

  @media (max-width: 600px) {
    .course-cards-container {
      flex-direction: row; 
      align-items: center; 
    }
  }
  
